.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

#mapbox {
  position: static;
  height: 100%;
}

#mapfield {
  height: 100%;
}

.toggled, .toggled:active, .toggled:focus {
  background-color: #770021 !important;
}

.toggled:after {
  content: " selected!";
  font-size: 8px;
  vertical-align: middle;
  position: absolute;
  right: 5px;
}